{% load static%}
<div class="row well">
	<div class="col-md-5">
		{%if post.image %}
		<a href="{% url 'single_post' username=post.user.username pk=post.pk %}">
		<img class="img-responsive img-thumbnail"src="{{post.image.url}}" alt="post image" style="width:250px; height:200px;"></a>
		<!--  -->
		{%else%}
		<a href="{% url 'single_post' username=post.user.username pk=post.pk %}">
		<img class="img-responsive img-thumbnail" src="{% static '/images/traffic.jpg'%}" alt="post image" style="width:250px; height:200px;"></a>
		<!--  -->
		{%endif%}
	</div>
	<div class="col-md-7">
		<div class="post media">

			<div class="well">
				<h3>{{ post.message_html|safe }}</h3>
			</div>

			<div class="media-body">
				<h5 class="media-heading">
					<p><a href="{% url 'for_user' username=post.user.username %}">
					<strong>@{{ post.user.username }}</strong></a></p>
					<time class="time">{{ post.created_at }}</time>
					{% if post.topic %}
					<span class="topic-name">in <a href="#">{{ post.topic.name }}</a></span>
					{% endif %}
				</h5>

				<div class="media-footer">
					{% if user.is_authenticated and post.user == user and not hide_delete %}
					<a href="{% url 'delete_post' pk=post.pk %}" title="delete_post" class="btn btn-simple">
							<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
							<span class="text-danger icon-label">Delete</span>
						</a> {% endif %}
				</div>

			</div>

		</div>
	</div>
</div>