{% extends "burbnews/post_base.html" %} {% load humanize %}
<!--  -->
{% block prepost %}
<br>
<div class="container jumbotron">
	<div class="col-md-4">
		{% if request.user.is_authenticated %}
		<div class="card card-with-shadow">
			<div class="content">
				<!-- <h3>
				<a href="{% url 'for_user' username=user.username %}">@{{user.username }}</a>
			</h3> -->
				<h2 class="title">Topics</h2>

				<ul class="list-unstyled">
					{% for topic in object_list %}
					<a class="list-topic-item" href="#">
						<h3 class="title list-topic-item-heading">{{ topic.name }}</h3></a>
					<!--  -->
					{% endfor %}


				</ul>
			</div>
		</div>
		{% endif %}
		<div class="card card-with-shadow">
			<div class="content">
				<h5 class="title">All topics</h5>
				<ul class="list-unstyled">
					{# {% get_other_topics as other_topics %}#} {% for other_topic in get_other_topics %}
					<li class="topic li-with-bullet"><a href="{% url 'single_topic' slug=other_topic.slug %}">{{ other_topic.name }}</a></li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>

	{% endblock %}
	<!--  -->
	{% block post_content %}
	<!--  -->

	<div class="col-md-8" style="border-left:solid;">
		{% if request.user.is_authenticated %}
		<h3>All Posts</h3>
		<div class="well">
			{% for post in post_list %} {% include "burbnews/_post.html" %} {%empty%}
			<h4>No posts in your Suburb</h4> {% endfor %}
		</div>

	</div>
</div>
{% endif %}
<br><br><br>
<br><br><br><br><br><br>
<!--  -->
{% endblock %}