{% extends "burbnews/topic_base.html" %}{%load static%} {% block pretopic %}
<div class="container jumbotron">
  <div class="row">

    <div class="col-md-4">
      <h2>{{topic.name}}</h2>
      <div class="well">
        <!--  -->
        {%if topic.image%}
        <img class="img-responsive img-thumbnail" style="width:300px; height:200px" src="{{topic.image.url}}" alt="topic image">
        <!--  -->
        {%else%}
        <img class="img-responsive img-thumbnail" style="width:300px; height:200px" src="{%static '/images/daily.jpg'%}" alt="default">
        <!--  -->
        {%endif%}
        <div class="well">
          <h3>{{topic.description_html|safe}}</h3>
          <!-- <h2 style="color:white;"> Member Count: {{topic.members.count}}</h2> -->
          <br>
          <!-- {% if user in topic.members.all %}
  <a href="{% url 'leave_topic' slug=topic.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a> {% else %}
  <a href="{% url 'join_topic' slug=topic.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Join</a> {% endif %} -->
        </div>
      </div>
    </div>
    {% endblock %}
    <!--  -->
    {% block topic_content %}

    <div class="col-md-8" style="border-left:solid">
      <h2>Posts in {{topic.name}} </h2>
      <!--  -->
      {% if topic.posts.count == 0 %}
      <div class="well">
        <h3>No posts in {{topic.name}} yet!</h3>
        <a class="btn btn-info" href="{% url 'create_post' %}">Add a Post</a>
      </div>
      {% else %}
      <!--  -->
      {% for post in topic.posts.all %}
      <!-- <div class="well"> -->
      {% include "burbnews/_post.html" %}
      <!-- </div> -->
      {% endfor %}
      <!--  -->
      {% endif %}

    </div>
  </div>
</div>

<br><br><br><br><br><br>
<br><br><br><br><br>
<!--  -->
{% endblock %}