{% extends "posts/post_base.html" %} {% load humanize %} {% block pre_post_content %}
<div class="col-md-4">
	{% if request.user.is_authenticated %}
	<div class="card card-with-shadow">
		<div class="content">
			<h5 class="title">Your Topics</h5>
			<ul class="list-unstyled">
				{# {% get_user_topics as user_topics %}#} {% for member_topic in get_user_topics %}
				<li class="topic li-with-bullet">
					<a href="{% url 'single_topic' slug=member_topic.topic.slug %}">{{ member_topic.topic.name }}</a>
				</li>
				{% endfor %}

			</ul>
		</div>
	</div>
	{% endif %}
	<div class="card card-with-shadow">
		<div class="content">
			<h5 class="title">All topics</h5>
			<ul class="list-unstyled">
				{# {% get_other_topics as other_topics %}#} {% for other_topic in get_other_topics %}
				<li class="topic li-with-bullet"><a href="{% url 'single_topic' slug=other_topic.slug %}">{{ other_topic.name }}</a></li>
				{% endfor %}
			</ul>




		</div>
	</div>
</div>
{% endblock %} {% block post_content %}
<div class="col-md-8">
	{% for post in post_list %} {% include "posts/_post.html" %} {% endfor %}
</div>
{% endblock %}